@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./SourceSansPro-Regular.otf") format("opentype")
}
